#root,
html,
body {
  background-color: #eee;
  color: #1f1f1f;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 10px;
}

.cell {
  width: 120px;
  height: 120px;
  background: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell img {
  width: 70%;
  height: 70%;
}

.result {
  margin-top: 20px;
  text-align: center;
}

.result button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

img,
button {
  user-select: none;
}
